<mat-dialog-content class="mat-typography">
    Biztosan törlöd?
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Mégsem</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Törlöm</button>
  </mat-dialog-actions> 