.container,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  align-items: stretch;
}

.container {
  width: 100%;
}

.container > * {
  margin: 20px;
}
