<div class="container">
  <h2 style="margin: 15px 0 0">Időpont táblázat</h2>

  <div>
    <app-timetable
      [startDate]="startDate"
      [endDate]="endDate"
      [inputTimetableData]="timeTableData$ | async"
      [disableIntervalChange]="true"
    ></app-timetable>
  </div>
  
    <h2 *ngIf="startDate" style="margin: 0">
    {{ actualDate | date: "yyyy. MM. dd." }} látogatások
  </h2>
<app-appointment-accordion [patientDataAndVisitDetails]="patientDataAndVisitDetails$ | async"></app-appointment-accordion>
</div>
