<mat-dialog-content class="mat-typography">
    Biztosan törlöd a <strong>{{ data.name }}</strong> diagnózist?
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="primary">Mégse</button>
    <button mat-raised-button color="warn" [mat-dialog-close]="true" >Törlöm</button>
  </mat-dialog-actions>
  