<div class="container">
  <mat-card>
    <form
      [formGroup]="form"
      #formDirective="ngForm"
      (ngSubmit)="submit(form, formDirective)"
    >
      <h3>Felhasználó felvétele</h3>

      <mat-form-field>
        <mat-label>Felhasználó név</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="form.get('username').invalid">
          Hibás felhasználónév (min 5 karakter)
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Felhasználó jogosultsága</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of RoleTypes" [value]="role">
            {{ role }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('role').invalid">
          A jogosultság kötelező
        </mat-error>
      </mat-form-field>
      <mat-form-field
      [ngStyle]="{
        display: form.get('role').value === RoleType.USER ? 'initial' : 'none'
      }"
    >
      <mat-label>Név</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
      <mat-form-field
        [ngStyle]="{
          display: form.get('role').value === RoleType.USER ? 'initial' : 'none'
        }"
      >
        <mat-label>Klinika</mat-label>
        <mat-select formControlName="clinicClassId">
          <mat-option
            *ngFor="let item of clinicClasses$ | async"
            [value]="item.id"
            >{{ item.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field
      [ngStyle]="{
        display: form.get('role').value === RoleType.USER ? 'initial' : 'none'
      }"
    >
      <mat-label>Tud e diagnózist adni</mat-label>
      <mat-select formControlName="isDiagnosis">
        <mat-option [value]=true>Igen</mat-option>
        <mat-option  [value]=false>nem</mat-option>
      </mat-select>
    </mat-form-field>

      <mat-form-field>
        <mat-label>Jelszó</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="form.get('username').invalid">
          Hibás jelszó (min 6 karakter)
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Jelszó Újra</mat-label>
        <input matInput type="password" formControlName="passwordConfirm" />
        <mat-error *ngIf="form.get('passwordConfirm').invalid">
          A két jelszónak meg kell egyeznie
        </mat-error>
      </mat-form-field>
      <div style="padding-top: 10px">
        <button type="submit" mat-raised-button color="primary">
          Felvétel
        </button>
      </div>
    </form>
  </mat-card>
</div>
