<div class="container">
  <mat-card>
    <form
      [formGroup]="form"
      #formDirective="ngForm"
      (ngSubmit)="submit(form, formDirective)"
    >
      <h3>Vizsgálat hozzáadása</h3>
      <mat-form-field>
        <mat-label>Vizsgálat neve</mat-label>
        <input matInput formControlName="name" type="text" />
        <mat-error *ngIf="form.get('name').invalid">
          Kötelező a Vizsgálat nevét megadni
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ár</mat-label>
        <input matInput formControlName="price" type="number" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Leírás</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Klinika</mat-label>
        <mat-select formControlName="clinicClassId">
          <mat-option
            *ngFor="let item of clinicClasses$ | async"
            [value]="item.id"
            >{{ item.name }}</mat-option
          >
        </mat-select>
        <mat-error *ngIf="form.get('clinicClassId').invalid">
          Kötelező a Klinika nevét megadni
        </mat-error>
      </mat-form-field>
      <div style="padding-top: 10px">
        <button type="submit" mat-raised-button color="primary">
          Felvétel
        </button>
      </div>
    </form>
  </mat-card>
</div>
