<div class="container table-responsive " >

    <table mat-table [dataSource]="diagnosises$ | async">
      <!-- diagnosisname Column -->
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef>diagnózis neve</th>
        <td mat-cell *matCellDef="let element">{{ element.code }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>diagnózis neve</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
        <!-- Description Column -->

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Leírás</th>
        <td mat-cell *matCellDef="let element">{{ element.description}}</td>
      </ng-container>
  
    <!-- treatment Column -->
    <ng-container matColumnDef="treatment">
        <th mat-header-cell *matHeaderCellDef>Kezelés</th>
        <td mat-cell *matCellDef="let element">{{ element.treatment}}</td>
      </ng-container>
  
     <!-- createdAt Column -->
     <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Létrehozva</th>
      <td mat-cell *matCellDef="let element">
        {{ element.createdAt | date: "short" }}
      </td>
    </ng-container>
        <!-- uptdatedAt Column  -->
      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef>Módosítva</th>
        <td mat-cell *matCellDef="let element">
          {{ element.updatedAt | date: "short" }}
        </td>
    </ng-container>  
    <!-- update Column  -->
    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef>Módosítás</th>
      <td mat-cell *matCellDef="let element">
        <div style="padding: 5px">
          <button
            mat-raised-button
            color="primary"
            (click)="openDiagnosisUpdateDialog(element)"
          >
            Módosítás
          </button>
        </div>
      </td>
    </ng-container>

    <!-- delete Column  -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Törlés</th>
      <td mat-cell *matCellDef="let element">
        <div style="padding: 5px">
          <button
            (click)="openDiagnosisDeleteConfirmDialog(element.id, element.name)"
            mat-raised-button
            color="warn"
          >
            Törlés
          </button>
        </div>
      </td>
    </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  