<div class="container">
  <mat-card class="login-card">
    <mat-form-field class="example-full-width">
      <mat-label>Felhasználónév</mat-label>
      <input [(ngModel)]="username" matInput placeholder="valami@gmail.com" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Jelszó</mat-label>
      <input [(ngModel)]="password" matInput type="password" />
    </mat-form-field>
    <button (click)="login()" mat-raised-button color="primary">
      Bejelentkezés
    </button>
  </mat-card>
</div>
