<form [formGroup]="form" (submit)="onSubmit()">
  <mat-form-field>
    <mat-label>Páciens keresése TAJ szám alapján</mat-label>
    <input formControlName="tajNumber" matInput />
  </mat-form-field>
  <div>
    <button type="submit" mat-raised-button color="primary">Keresés</button>
  </div>
</form>
