<div class="accordion-container">
    <mat-accordion>
      <mat-expansion-panel
        *ngFor="
          let details of patientDataAndVisitDetails
        "
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ details.startOfSession | date: "yyyy-MM-dd hh:mm a" }} -
            {{ details.endOfSession | date: "hh:mm a" }}
          </mat-panel-title>
          <mat-panel-description>
            {{ details.name }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="accordion-content">
          <div>Páciens neve:</div>
          <div>{{ details.name }}</div>
          <div>Páciens neme:</div>
          <div>
            {{ details.gender === "male" ? "Férfi" : "Nő" }}
          </div>
          <div>Páciens TAJ száma:</div>
          <div>{{ details.tajNumber }}</div>
          <div>Páciens dokumentumai:</div>
          <div>
            <button
              (click)="
                openPatientFilesDialogComponent(details)
              "
              mat-raised-button
              color="primary"
            >
              Fájlok megtekintése
            </button>
          </div>
          <div>Beutaló leírása:</div>
          <div>{{ details.referralDescription }}</div>
          <div>Vizsgálat neve:</div>
          <div>{{ details.examinationName }}</div>
          <div *ngIf="isDiagnosis$ | async">
            <button
              (click)="
              openCreateDiagnosisComponent(details.id)
              "
              mat-raised-button
              color="primary"
            >
              Diagnózis hozzáadása
            </button>
          </div>
          <div *ngIf="isDiagnosis$ | async">
            <a mat-raised-button   color="primary"   
            mat-raised-button
            color="primary"
            (click)="
            setPatientValue(details.id)
            "
           [routerLink]="dashBoardItem.link"> Diagnózisok</a>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>