<mat-dialog-content class="mat-typography">
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Diagnózis kódja</mat-label>
        <input matInput formControlName="code" />
        <mat-error *ngIf="false"></mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Diagnózis neve:</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="false"></mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>leírás</mat-label>
        <textarea matInput  formControlName="description"   rows="10"></textarea>
        <mat-error *ngIf="false"></mat-error>
      </mat-form-field>

       <mat-form-field>
        <mat-label>kezelés</mat-label>
        <textarea  matInput formControlName="treatment"  rows="10" ></textarea>
        <mat-error *ngIf="false"></mat-error>
      </mat-form-field>
  
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="primary">Mégse</button>
    <button mat-raised-button (click)="updateDiagnosis()" color="warn">Módosít
    </button>
  </mat-dialog-actions>
  