<mat-dialog-content class="mat-typography">
    <form [formGroup]="form">
      <mat-form-field>
        <input type="text"
           placeholder="keresés diagnózis kód és név alapján"
           aria-label="Number"
           matInput
           formControlName="code"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedOption($event)">
      <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option.code">
        {{ option.name }}
      </mat-option>
     </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Név</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="false"></mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Egyéb hozzáfűzni való a diagnózishoz</mat-label>
        <textarea matInput formControlName="description" rows="10" ></textarea>
        <mat-error *ngIf="false"></mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Kezelés</mat-label>
        <textarea matInput formControlName="treatment" rows="10"></textarea>
        <mat-error *ngIf="false"></mat-error>
      </mat-form-field>

    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="primary">Mégse</button>
    <button mat-raised-button (click)="createDiagnosis()" color="warn">Felvétel</button>
  </mat-dialog-actions>
    