<div class="container">
  <table mat-table [dataSource]="users$ | async">
    <!-- username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Felhasználónév</th>
      <td mat-cell *matCellDef="let element">{{ element.username }}</td>
    </ng-container>

      <!-- username Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Név</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- role Column -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>role</th>
      <td mat-cell *matCellDef="let element">{{ element.role }}</td>
    </ng-container>

      <!-- Klinikaiosztály Column -->
    <ng-container matColumnDef="clinicClassName">
      <th mat-header-cell *matHeaderCellDef>Klinikai osztály</th>
      <td mat-cell *matCellDef="let element">{{ element.clinicClassName }}</td>
    </ng-container>

     <!-- diagnosis Column -->
     <ng-container matColumnDef="isDiagnosis">
      <th mat-header-cell *matHeaderCellDef>Diagnozis</th>
      <td mat-cell *matCellDef="let element">{{ element.role === "USER" ? (element.isDiagnosis ? "Igen" : "Nem") :  "" }}</td>
    </ng-container>


    <!-- createdAt Column -->
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Létrehozás dátuma</th>
      <td mat-cell *matCellDef="let element">
        {{ element.createdAt | date: "short" }}
      </td>
    </ng-container>

    <!-- updatedAt Column -->
    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef>Update dátum</th>
      <td mat-cell *matCellDef="let element">
        {{ element.updatedAt | date: "short" }}
      </td>
    </ng-container>

    <!-- delete Column  -->
    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef>Módosítás</th>
      <td mat-cell *matCellDef="let element">
        <div style="padding: 5px">
          <button
            mat-raised-button
            color="primary"
            (click)="openUserUpdateDialog(element)"
          >
            Módosítás
          </button>
        </div>
      </td>
    </ng-container>

    <!-- Update Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Törlés</th>
      <td mat-cell *matCellDef="let element">
        <div style="padding: 5px">
          <button
            (click)="openUserDeleteConfirmDialog(element.id, element.username)"
            mat-raised-button
            color="warn"
          >
            Törlés
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
