<div class="container">
  <mat-card>
    <h3>Klinika Osztály felvétele</h3>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field>
        <mat-label>Klinika neve</mat-label>
        <input matInput formControlName="name"/>
        <mat-error *ngIf="form.get('name').invalid">
          Kötelező a klinika nevét megadni
        </mat-error>
      </mat-form-field>
      <section style="align-self: flex-start">
        <mat-checkbox formControlName="onlyOneUser"
          >Egy felhaszálóhoz tartozik</mat-checkbox
        >
        <mat-error *ngIf="form.get('onlyOneUser').invalid">
          Kötelező a klinika nevét megadni
        </mat-error>
      </section>
      <div style="padding-top: 15px">
        <button type="submit" mat-raised-button color="primary">
          Felvétel
        </button>
      </div>
    </form>
  </mat-card>
</div>
