<div class="container">
  <div class="card-container">
    <a
      *ngFor="let dashBoardItem of dashBoardItems"
      [routerLink]="dashBoardItem.link"
    >
      <mat-card>
        <div class="link">{{ dashBoardItem.title }}</div>
      </mat-card>
    </a>
  </div>
</div>
