
<div class="container">
    <h2>Válassza ki az időintervallumot!</h2>
    <form [formGroup]="form">
    <mat-form-field >
        <mat-label>Choose a date</mat-label>
        <input matInput formControlName="start" [matDatepicker]="pickerStart">
        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
    </mat-form-field>
    <mat-form-field >
        <mat-label>Choose a date</mat-label>
        <input matInput formControlName="end" [matDatepicker]="pickerEnd">
        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
    </mat-form-field>
    </form>
    <h2>{{form.get('start').value | date: 'short'}} - {{form.get('end').value | date: 'short'}}</h2>
    <app-appointment-accordion  [patientDataAndVisitDetails]="visitDetails$.asObservable() | async"></app-appointment-accordion>
</div>