<div class="container">   
    <mat-card> 
        <form [formGroup]="form"> 
        <mat-form-field>
          <mat-label>Klinika</mat-label>
          <mat-select  (click)="selectAndRefreshTable()" [(value)]="selectedClinicClassId" formControlName="clinicClassId" >
            <mat-option
              *ngFor="let item of clinicClasses$ | async"
              [value]="item.id"
              >{{ item.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        </form> 
        <div class="container1">
          <table mat-table [dataSource]="examinations$ | async">
            <!-- username Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Név</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>
        
            <!-- role Column -->
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>Összeg</th>
              <td mat-cell *matCellDef="let element">{{ element.price }}</td>
            </ng-container>
        
             <!-- diagnosis Column -->
             <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>leírás</th>
              <td mat-cell *matCellDef="let element">{{ element.description }}</td>
            </ng-container>
        
            <!-- update Column  -->
            <ng-container matColumnDef="update">
              <th mat-header-cell *matHeaderCellDef>Módosítás</th>
              <td mat-cell *matCellDef="let element">
                <div style="padding: 5px">
                  <button
                    mat-raised-button
                    color="primary"
                    (click)="openExaminationUpdateDialog(element)"
                  >
                    Módosítás
                  </button>
                </div>
              </td>
            </ng-container>
        
            <!-- delete Column  -->
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef>Törlés</th>
              <td mat-cell *matCellDef="let element">
                <div style="padding: 5px">
                  <button
                    (click)="openExaminationDeleteConfirmDialog(element.id, element.name)"
                    mat-raised-button
                    color="warn"
                  >
                    Törlés
                  </button>
                </div>
              </td>
            </ng-container>
       
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
        
    </mat-card>
  </div>
  
  