<div class="container">
  <div>
    <mat-horizontal-stepper [linear]="true" #stepper>
      <!-- STEP 1 -->
      <mat-step [stepControl]="firstFormGroup" label="Páciens felvétele">
        <app-search-patient
          (searchedPatient)="onPatientSearched($event)"
        ></app-search-patient>
        <form [formGroup]="firstFormGroup" #formDirective="ngForm">
          <mat-form-field>
            <mat-label>Páciens teljes neve</mat-label>
            <input [disabled]="isNewPatient" matInput formControlName="name" />
            <mat-error *ngIf="firstFormGroup.hasError('name')">
              A páciens nevét kötelező megadni
            </mat-error>
          </mat-form-field>

          <mat-radio-group formControlName="gender" aria-label="Páciens neme">
            <mat-radio-button value="female" style="margin: 0 5px"
              >Nő</mat-radio-button
            >
            <mat-radio-button value="male" style="margin: 0 5px"
              >Férfi</mat-radio-button
            >
          </mat-radio-group>
          <mat-error *ngIf="firstFormGroup.hasError('gender')">
            A páciens nemét kötelező megadni
          </mat-error>

          <mat-form-field>
            <mat-label>Páciens címe</mat-label>
            <input matInput formControlName="address" />
            <mat-error *ngIf="firstFormGroup.hasError('address')">
              A páciens címét kötelező megadni
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Páciens igazolvány száma</mat-label>
            <input matInput formControlName="idCardNumber" />
            <mat-error *ngIf="firstFormGroup.hasError('idCardNumber')">
              A páciens igazolvány számát kötelező megadni
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Páciens TAJ száma</mat-label>
            <input matInput formControlName="tajNumber" />
            <mat-error *ngIf="firstFormGroup.hasError('tajNumber')">
              A páciens TAJ számát kötelező megadni
            </mat-error>
          </mat-form-field>

          <div>
            <button
              (click)="createPatient(firstFormGroup, formDirective)"
              [disabled]="!isNewPatient"
              type="submit"
              mat-raised-button
              color="primary"
              style="margin-top: 15px; margin-right: 10px"
            >
              Felvétel
            </button>
            <button
              (click)="stepper.next()"
              [disabled]="isNewPatient"
              mat-raised-button
              color="primary"
              style="margin-top: 15px"
            >
              Következő
            </button>
            <a mat-raised-button  [disabled]="isNewPatient"  color="primary"
            style="margin-top: 15px; margin-left: 10px" [routerLink]="dashBoardItem.link"> Időpontok listázása</a>

            <a mat-raised-button  [disabled]="isNewPatient"  color="primary"
            style="margin-top: 15px; margin-left: 10px" (click)="openPatientUpdateDialog()"> Beteg adatainak módosítása</a>
            <a mat-raised-button  [disabled]="isNewPatient"  color="primary"
            style="margin-top: 15px; margin-left: 10px" (click)="openPatientFilesDialogComponent()"> Elérhető dokumentumok</a>
            <a mat-raised-button  [disabled]="isNewPatient"  color="warn"      
            style="margin-top: 15px; margin-left: 10px"  (click)="openPatientConfirmDeleteDialog()"> Beteg törlése</a>

          </div>
        </form>
      </mat-step>
      <!-- STEP 2 -->
      <mat-step
        [stepControl]="secondFormGroup"
        label="Klinika Osztály kiválasztása"
      >
        <form [formGroup]="secondFormGroup">
          <mat-form-field>
            <mat-label>Osztály</mat-label>
            <mat-select formControlName="id">
              <mat-option
                *ngFor="
                  let clinicClass of clinicClassMappedToIdAndName$ | async
                "
                [value]="clinicClass.id"
              >
                {{ clinicClass.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="secondFormGroup.get('id').invalid">
              Kötelező az osztályt kiválasztani
            </mat-error>
          </mat-form-field>
          <div>
            <button
              mat-raised-button
              color="primary"
              matStepperNext
              style="margin-top: 15px"
            >
              Következő
            </button>
          </div>
        </form>
      </mat-step>
      <!-- STEP 3 -->
      <mat-step [stepControl]="thirdFormGroup" label="Vizsgálat kiválasztása">
        <form
          *ngIf="secondFormGroup.get('id').value"
          [formGroup]="thirdFormGroup"
        >
          <mat-form-field>
            <mat-label>Vizsgálat kiválasztása</mat-label>
            <mat-select formControlName="id">
              <mat-option
                *ngFor="let examination of examinations$ | async"
                [value]="examination.id"
                examinationName=`examination.name`
                >{{ examination.name }}</mat-option
              >
            </mat-select>
            <mat-error *ngIf="thirdFormGroup.get('id').invalid">
              Kötelező a vizsgálatot kiválasztani
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Vissza</button>
            <button mat-raised-button color="primary" matStepperNext>
              Következő
            </button>
          </div>
        </form>
      </mat-step>
      <!-- STEP 4 -->
      <mat-step [stepControl]="fourthFormGroup" label="Orvos kiválasztása">
        <form
          *ngIf="secondFormGroup.get('id').value"
          [formGroup]="fourthFormGroup"
        >
          <mat-form-field>
            <mat-label>Orvos kiválasztása</mat-label>
            <mat-select formControlName="id">
              <mat-option *ngFor="let user of users$ | async" [value]="user.id">
                {{ user.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="fourthFormGroup.get('id').invalid">
              Kötelező az orvost kiválasztani
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Vissza</button>
            <button mat-raised-button color="primary" matStepperNext>
              Következő
            </button>
          </div>
        </form>
      </mat-step>
      <!-- STEP 5 -->
      <mat-step label="Beutaló kitöltése">
        <form
          [formGroup]="fifthFormGroup"
          #formDirective="ngForm"
          (ngSubmit)="createReferral(fifthFormGroup, formDirective)"
        >
          <mat-form-field>
            <mat-label>Leírás</mat-label>
            <textarea matInput formControlName="description"></textarea>
            <mat-error *ngIf="fifthFormGroup.hasError('description')">
              A leírást kötelező megadni
            </mat-error>
          </mat-form-field>
          <div>
            <button type="submit" mat-raised-button color="primary">
              Beutaló beküldése
            </button>
          </div>
        </form>
      </mat-step>
      <!-- STEP 6 -->
      <mat-step label="Időpont felvétel">
        <form
          [formGroup]="sixthFormGroup"
          #formDirective="ngForm"
          (ngSubmit)="createAppointment(sixthFormGroup, formDirective)"
        >
          <mat-form-field>
            <mat-label>Dátum kiválasztása</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="sixthFormGroup.hasError('date')">
              A dátumot kötelező megadni
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Időpont kezdete</mat-label>
            <input matInput type="time"  formControlName="startTimeOfSession" />
            <mat-error *ngIf="sixthFormGroup.hasError('startTimeOfSession')">
              Az időpont kezdete kötelező megadni
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Időpont vége</mat-label>
            <input matInput type="time" formControlName="endTimeOfSession" />
            <mat-error *ngIf="sixthFormGroup.hasError('endTimeOfSession')">
              Az időpontot vége kötelező megadni
            </mat-error>
          </mat-form-field>
          <div>
            <button
              type="submit"
              mat-raised-button
              color="primary"
              style="margin-right: 10px"
            >
              Időpont felvétele
            </button>
            <button
              (click)="stepper.next()"
              type="button"
              mat-raised-button
              color="primary"
            >
              Következő
            </button>
          </div>
        </form>
      </mat-step>
      <!-- STEP 7 -->
      <mat-step [stepControl]="seventhFormGroup" label="Fájl feltöltése">
        <form [formGroup]="seventhFormGroup">
          <div style="margin-bottom: 15px">
            <button
              type="button"
              mat-raised-button
              (click)="fileInput.click()"
              color="primary"
            >
              Fájl kiválasztása
            </button>
          </div>
          <input
            hidden
            (change)="onFileSelected($event)"
            #fileInput
            type="file"
            id="file"
          />
          <mat-form-field>
            <mat-label>Fájl neve</mat-label>
            <input matInput type="text" formControlName="name" />
            <mat-error *ngIf="seventhFormGroup.get('name').invalid">
              Kötelező a fájl nevet megadni
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Fájl leírása</mat-label>
            <textarea
              matInput
              type="text"
              formControlName="description"
            ></textarea>
            <mat-error *ngIf="seventhFormGroup.get('description').invalid">
              Kötelező a fájl leírását megadni
            </mat-error>
          </mat-form-field>
          <mat-label>Fájl leírása</mat-label>
          <mat-checkbox formControlName="isAvailableAlways">
            Mindenki számára elérhető
          </mat-checkbox>
          <div>
            <button
              (click)="uploadDocument()"
              mat-raised-button
              color="primary"
              style="margin: 15px 15px 0 0"
            >
              Feltöltés
            </button>
            <button
              (click)="reset()"
              type="reset"
              mat-raised-button
              color="primary"
            >
              Új páciens felvétele
            </button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
  <div>
    <app-timetable
      [startDate]="appointmentListStartDate"
      [endDate]="appointmentListEndDate"
      [inputTimetableData]="doctorsTimetableData$.asObservable() | async"
      (intervalChange)="onTimeTableIntervalChange($event)"
    ></app-timetable>
  </div>
</div>
