<mat-dialog-content class="mat-typography">
  Biztosan törlöd a <strong>{{ data.username }}</strong> felhasználót?
</mat-dialog-content>
<mat-dialog-actions align="end" class="buttons">
  <button mat-raised-button mat-dialog-close color="primary">Mégse</button>
  <button mat-raised-button color="warn" [mat-dialog-close]="true" >Törlöm</button>
</mat-dialog-actions>
