<div mat-dialog-content style="width: 100%">
  <form [formGroup]="form">
    <div class="controls">
      <button mat-raised-button (click)="fileInput.click()" color="primary">
        Fájl kiválasztása
      </button>
    </div>
    <input
      hidden
      (change)="onFileSelected($event)"
      #fileInput
      type="file"
      id="file"
    />
    <mat-form-field>
      <mat-label>Fájl neve</mat-label>
      <input matInput type="text" formControlName="name" />
      <mat-error *ngIf="form.get('name').invalid">
        Kötelező a fájl nevet megadni
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Fájl leírása</mat-label>
      <textarea matInput type="text" formControlName="description"></textarea>
      <mat-error *ngIf="form.get('description').invalid">
        Kötelező a fájl leírását megadni
      </mat-error>
    </mat-form-field>
    <mat-label>Fájl leírása</mat-label>
    <mat-checkbox formControlName="isAvailableAlways">
      Mindenki számára elérhető
    </mat-checkbox>
    <div style="margin-top: 10px">
      <button (click)="uploadDocument()" mat-raised-button color="primary">
        Feltöltés
      </button>
    </div>
  </form>

  <mat-divider></mat-divider>

  <h2>{{ patientDataAndVisitDetails.name }} tartozó fájlok</h2>

  <table
    *ngIf="(files$ | async) && (files$ | async).length; else noFiles"
    mat-table
    [dataSource]="files$ | async"
    style="width: 100%"
  >
    <!-- name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Fájl neve</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Fájl leírás</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <!-- size Column -->
    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef>Fájl mérete</th>
      <td mat-cell *matCellDef="let element">{{ element.size }}</td>
    </ng-container>

    <!-- createdAt Column -->
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Feltöltés dátuma</th>
      <td mat-cell *matCellDef="let element">
        {{ element.createdAt | date: "medium" }}
      </td>
    </ng-container>

    <!-- download Column -->
    <ng-container matColumnDef="download">
      <th mat-header-cell *matHeaderCellDef>Letöltés</th>
      <td mat-cell *matCellDef="let element">
        <!-- {{ element.updatedAt | date: "medium" }} -->
        <a
          [href]="documentAPIService.documentDownloadUrl(element.id)"
          [download]="element.name + element.mimeType"
        >
          <button mat-raised-button color="primary">Letöltés</button>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Letöltés</th>
      <td mat-cell *matCellDef="let element">
          <button mat-raised-button (click)="this.deleteDocument(element.id)" *ngIf="element.uploader  == (this.authId$ | async) " color="warn">Törlés</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <ng-template #noFiles>
    Nincsenek feltöltött fájlok a pácienshez
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Bezár</button>
</div>
