<div mat-dialog-content style="width: 100%">
<h2>{{ data.name }} tartozó fájlok</h2>
    <table
      *ngIf="(files$ | async) && (files$ | async).length; else noFiles"
      mat-table
      [dataSource]="files$ | async"
      style="width: 100%"
    >
      <!-- name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Fájl neve</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
  
      <!-- description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Fájl leírás</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>
  
      <!-- size Column -->
      <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef>Fájl mérete</th>
        <td mat-cell *matCellDef="let element">{{ element.size }}</td>
      </ng-container>
  
      <!-- createdAt Column -->
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>Feltöltés dátuma</th>
        <td mat-cell *matCellDef="let element">
          {{ element.createdAt | date: "medium" }}
        </td>
      </ng-container>
  
      <!-- download Column -->
      <ng-container matColumnDef="download">
        <th mat-header-cell *matHeaderCellDef>Letöltés</th>
        <td mat-cell *matCellDef="let element">
          <!-- {{ element.updatedAt | date: "medium" }} -->
          <a
            [href]="documentAPIService.documentDownloadUrl(element.id)"
            [download]="element.name + element.mimeType"
          >
            <button mat-raised-button color="primary">Letöltés</button>
          </a>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Letöltés</th>
        <td mat-cell *matCellDef="let element">
            <button mat-raised-button (click)="this.deleteDocument(element.id)" *ngIf="element.uploader  == (this.authId$ | async) " color="warn">Törlés</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <ng-template #noFiles>
      Nincsenek feltöltött fájlok a pácienshez
    </ng-template>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Bezár</button>
  </div>
  