<mat-toolbar color="primary">
  <span>EMS</span>
  <div *ngIf="isAdmin$ | async">
    <a [routerLink]="['admin', 'dashboard']">
      <button mat-button>Dashboard</button>
    </a>
  </div>
  <div *ngIf="isReceptionist$ | async">
    <a [routerLink]="['receptionist', 'dashboard']">
      <button mat-button>Dashboard</button>
    </a>
  </div>
  <div *ngIf="isUser$ | async">
    <a [routerLink]="['user', 'dashboard']">
      <button mat-button>Dashboard</button>
    </a>
    <a [routerLink]="['user', 'appointments']">
      <button mat-button>Időpontok</button>
    </a>
  </div>
  <span class="spacer"></span>
  <div *ngIf="isAuthenticated$ | async" class="controls">
    <button mat-button>{{ userName$ | async }}</button>
    <button (click)="authService.logout()" mat-button>Kijelentkezés</button>
  </div>
</mat-toolbar>
