<mat-dialog-content class="mat-typography">
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Vizsgálat neve:</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="false"></mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>ára</mat-label>
        <input matInput  type="number" formControlName="price" />
        <mat-error *ngIf="false"></mat-error>
      </mat-form-field>
  
       <mat-form-field>
        <mat-label>leírás</mat-label>
        <input matInput formControlName="description" />
        <mat-error *ngIf="false"></mat-error>
      </mat-form-field>
  
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="primary">Mégse</button>
    <button mat-raised-button (click)="updateExamination()" color="warn">Módosítás</button>
  </mat-dialog-actions>
  