<div mat-dialog-content>
  <form [formGroup]="form">
      <mat-form-field>
      <mat-label>Nev</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
      <mat-label>onlyOneUser</mat-label>                                                                                                                                                                                                                                                                                                                                            
      <mat-checkbox matInput formControlName="onlyOneUser"></mat-checkbox>
  </form>
</div>
<div mat-dialog-actions>
 <button mat-button mat-dialog-close>Mégsem</button>
 <button  (click)="updateClinicClass()"  mat-button mat-dialog-close="true">Felulirom</button>
</div>