<div class="container">
    <table mat-table [dataSource]="appointments$ | async">
        <!-- Klinikaiosztály Column -->
      <ng-container matColumnDef="clinicClassName">
        <th mat-header-cell *matHeaderCellDef>Klinikai osztály</th>
        <td mat-cell *matCellDef="let element">{{ element.clinicClassName }}</td>
      </ng-container>
       <!-- examinationName Column -->
       <ng-container matColumnDef="examinationName">
        <th mat-header-cell *matHeaderCellDef>vizsgálat neve</th>
        <td mat-cell *matCellDef="let element">{{ element.examinationName}}</td>
      </ng-container>
      <!-- startOfSession Column -->
      <ng-container matColumnDef="startOfSession">
        <th mat-header-cell *matHeaderCellDef>Időpont kezdete</th>
        <td mat-cell *matCellDef="let element">{{ element.startOfSession  | date: "short"}}</td>
      </ng-container>
  
      <!-- endOfSession Column -->
      <ng-container matColumnDef="endOfSession">
        <th mat-header-cell *matHeaderCellDef>időpont vége</th>
        <td mat-cell *matCellDef="let element">{{ element.endOfSession | date: "short" }}</td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Törlés</th>
        <td mat-cell *matCellDef="let element">
          <div style="padding: 5px">
            <button
              (click)="
              openAppointmentDeleteConfirmDialog(element.id)
            "
              mat-raised-button
              color="warn"
            >
              Törlés
            </button>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  