<div class="container">
  <mat-card *ngIf="mappedTimetableData$.asObservable() | async">
    <div *ngIf="startDate && endDate" class="controls">
      <div *ngIf="!disableIntervalChange" (click)="changeInterval('previous')">
        <mat-icon aria-hidden="false">keyboard_arrow_left</mat-icon>
      </div>
      <div>{{ startDate | date: "yyyy.MM.dd." }}</div>
      <div>-</div>
      <div>{{ endDate | date: "yyyy.MM.dd." }}</div>
      <div *ngIf="!disableIntervalChange" (click)="changeInterval('next')">
        <mat-icon aria-hidden="false">keyboard_arrow_right</mat-icon>
      </div>
    </div>
    <ng-zee-timetable
      [data]="mappedTimetableData$.asObservable() | async"
      [rows]="days"
      [options]="options"
    ></ng-zee-timetable>
  </mat-card>
</div>
