<div class="container">
  <table
    mat-table
    [dataSource]="clinicClasses$ | async"
    class="mat-elevation-z8"
  >
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Név</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- onlyOneUser Column -->
    <ng-container matColumnDef="onlyOneUser">
      <th mat-header-cell *matHeaderCellDef>Egy felhasználóhoz tartozik</th>
      <td mat-cell *matCellDef="let element">
        {{ element.onlyOneUser ? 'igen' : 'nem' }}
      </td>
    </ng-container>

    <!-- Update Column  -->
    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef>Módosítás</th>
      <td mat-cell *matCellDef="let element">
        <div style="padding: 5px">
          <button
            mat-raised-button
            color="primary"
            (click)="openClinicClassUpdateDialog(element)"
          >
            Módosítás
          </button>
        </div>
      </td>
    </ng-container>

    <!-- delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Törlés</th>
      <td mat-cell *matCellDef="let element">
        <div style="padding: 5px">
          <button
            (click)="
              openClinicClassConfirmDeleteDialog(element.id)
            "
            mat-raised-button
            color="warn"
          >
            Törlés
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
