<mat-dialog-content class="mat-typography">
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Felhasználó név</mat-label>
      <input matInput formControlName="username" />
      <mat-error *ngIf="false"></mat-error>
    </mat-form-field>

       <!-- name  -->
       <mat-form-field >
        <mat-label>Név</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="false"></mat-error>
    </mat-form-field>
        <!-- password  -->
    <mat-form-field>
      <mat-label>Új jelszó</mat-label>
      <input matInput formControlName="password" />
      <mat-error *ngIf="form.get('username').invalid">
        Hibás jelszó (min 6 karakter)
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Jelszó ismétlés</mat-label>
      <input matInput formControlName="passwordConfirm" />
      <mat-error *ngIf="form.get('passwordConfirm').invalid">
        A két jelszónak meg kell egyeznie
      </mat-error> 
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="primary">Mégse</button>
  <button mat-raised-button (click)="updateUser()" color="warn">Módosítás</button>
</mat-dialog-actions>
