<mat-dialog-content class="mat-typography">
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Páciens neve:</mat-label>
        <input matInput formControlName="name" />
        <mat-error *ngIf="false"></mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Lakcim</mat-label>
        <input matInput   formControlName="address" />
        <mat-error *ngIf="false"></mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Személyi igazolványszám</mat-label>
        <input matInput   formControlName="idCardNumber" />
        <mat-error *ngIf="false"></mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Tajszám</mat-label>
        <input matInput   formControlName="tajNumber" />
        <mat-error *ngIf="false"></mat-error>
      </mat-form-field>
      
  
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="primary">Mégse</button>
    <button mat-raised-button (click)="updatePatient()" color="warn">Módosítás</button>
  </mat-dialog-actions>
  